body{
  background: #2D3D5D;
  background-image: -webkit-linear-gradient(10deg, #2D3D5D 50%, #fff 50.1%);
}
div{
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
